.img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.køb {
  background-color: turquoise;
  width: 70px;
  text-align: center;
  display: inline-block;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: #5DBCD2 1px solid;
  border-radius: 5%;
  margin-left: 10px;
  padding-top: 10px;
  color: white;
}

.flex {
  display: flex;
}
.galleri {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: -10px;
  grid-row-gap: 20px;
  margin-right: 200px;
}

.galleri img {
  height: 98%;
  width: 98%;
  margin-left: 2px;
  margin-top: 2px;
  border: lightgrey 1px solid;
  border-radius: 5%;
}

.box2 {
  border: lightgrey 1px solid;
  border-radius: 5%;
  height: 230px;
  width: 230px;
  box-shadow: 5px 3px 3px grey;
}
.box img {
  border: none;
}

.produktinfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  width: 250px;
  padding-top: 30px;
}
.produktinfo p {
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  padding-left: 5px;
}
